.git/
.gitignore
.dockerignore
.idea/
.claude/
*.md
go.sum
web/
files/
internal/template/*.aux
internal/template/*.log
internal/template/*.toc
internal/template/*.out
internal/template/*.fls
internal/template/*.fdb_latexmk
internal/template/*.synctex.gz
internal/template/*.pdf
internal/template/components/*.aux
internal/template/components/*.log
internal/template/components/*.pdf
internal/template/components/*.fls
internal/template/components/*.fdb_latexmk
