# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode
.idea
.fleet
.phpactor.json

# Dependencies
node_modules
vendor
target

# Laravel
.env
.env.backup
.env.production
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

# Build artifacts
public/build
public/hot
bootstrap/ssr

# Tests
.phpunit.cache
.phpunit.result.cache
tests

# Documentation
*.md
!README.md

# Other
.DS_Store
Homestead.json
Homestead.yaml
